@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --black1: #000000;
    --black2: #212121;
    --black3: #070707;
    --white1: #ffffff;
    --white2: #f0f8ff;
    --white3: #FEFEFE;
    --white4: #E5E5EA;
    --purple1: #9A0FF1;
    --purple2: #440986;
    --gray1: #D1D1D6;
}

*{
    color: var(--black2);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}